<% @repositories ||= current_user.client.repositories %>
<% unless @repositories.empty? %>
  <% @pages_repos ||= PagesRepository.pages_repos(@repositories) %>
  <% if @pages_repos.empty? %>
    <h1>You have repositories, but none of them have GitHub Pages!</h1>
  <% else %>
    <table class="repo-list table table-bordered table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Configure search</th>
      </tr>
    <% @pages_repos.each do |repo| %>
      <% @has_hook = PagesRepository.has_hook_to_granta? repo["full_name"] %>
      <tr>
        <td><%= repo["name"] %></td>
        <td>
          <% unless @has_hook %>
            <%= button_tag "#", :remote => true, :class => 'btn btn-default add-hook-button', :'data-repo-name' => repo["full_name"] do %>
              <%= octicon("zap") %> Let's do this!
            <% end %>
          <% else %>
            <%= button_tag "#", :remote => true, :class => 'btn btn-default remove-hook-button', :'data-repo-name' => repo["full_name"] do %>
              <%= octicon("x") %> Remove it, please!
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% else %>
  <h1>You have no repositories!</h1>
<% end %>
