<!DOCTYPE html>
<html>
<head>
  <title>Branta: Search for GitHub Pages</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body id="main">

  <% if !github_user && !ENV['GITHUB_BRANTA_ORG_NAME'].blank? %>
    <%= render partial: "elements/blocked_org_landing" %>
  <% else %>
    <%= render partial: "elements/navbar" %>

    <%= yield %>

  <% end %>
</body>
</html>
